<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">AnimalShop</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/products" class="nav-link" routerLink="products">Produkty</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/orders" class="nav-link" routerLink="orders">Objednávky</a>
      </li>
      <li class="nav-item" *ngIf="showProductManagment">
        <a href="/productmanagment" class="nav-link" routerLink="productmanagment">Pridať produkt</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <span class="nav-link">Logged in: {{ username }}</span>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
